<div class="container-fluid">
    <div class="row">
        <div  *ngFor="let pro of proporty"  class="shadow-md col-md-3 text-center mt-4">
        <div class="card">
            <div class="card-img-wrapper"> 
                <img class="card-img-top " src="assets\images\images (2).jfif"  alt="">
                <ul class="list-inline text-center contacts">
                    <li class="list-inline-item">
                        <button class="btn btn-warning" [routerLink]="['/details']" routerLinkActive="router-link-active" >DETAILS</button>
                    </li>
                </ul>
            </div>
            <div class="body-card">
                <h3>{{pro.name}}</h3>
                <h5>{{pro.type}}</h5>
                <h5>{{pro.price}}</h5>
             </div>
        </div>
        </div>
    </div>
</div>