.card{
    border-radius: 5%;
    
}
.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    opacity: .6;
}
.card img{
    transform: scale(1,1);
    transition-duration: 600ms;
    transition-timing-function: ease-out;
   
}
.card-img-wrapper{
    overflow: hidden;
}
.contacts{
    position: absolute;
    display: none;
    margin-top: -30%;
    left: 0;
    right: 0;
    
}
.card-img-wrapper:hover .contacts{
    display:block;
}